$primaryColor: #1A237E
$primaryColorLight: #534BAE
$primaryColorDark: #000051

$secondaryColor: #757575
$secondaryColorLight: #A4A4A4
$secondaryColorDark: #494949

$primaryTextColor: #FFFFFF
$secondaryTextColor: #808080

$successColor: #44D644
$errorColor: #EF2323
$infoColor: #1234DC

$additionalColor_0: #C850C0
$additionalColor_1: #F5F5F5


$primaryGradient: linear-gradient(45deg, #4158d0, #c850c0)
$primary-box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.5)